In [22]:
import pandas as pd
import numpy as np
import os
%pip install openpyxl
print("Current Working Directory: ", os.getcwd())

Requirement already satisfied: openpyxl in c:\users\coolc\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\coolc\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.
Current Working Directory:  c:\Users\coolc\VSCodeProjects\wrangling_crg3ts\assignment

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: C:\Users\coolc\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [23]:
air_data = pd.read_csv("C:/Users/coolc/VSCodeProjects/wrangling_crg3ts/assignment/data/airbnb_hw.csv")
print(air_data.head(100))
print(air_data.dtypes)

     Host Id Host Since                                 Name Neighbourhood   \
0    5162530        NaN      1 Bedroom in Prime Williamsburg       Brooklyn
1   33134899        NaN      Sunny, Private room in Bushwick       Brooklyn
2   39608626        NaN                 Sunny Room in Harlem      Manhattan
3        500  6/26/2008   Gorgeous 1 BR with Private Balcony      Manhattan
4        500  6/26/2008             Trendy Times Square Loft      Manhattan
..       ...        ...                                  ...            ...
95      8198  2/19/2009   Park Slope haven 15 mins from Soho       Brooklyn
96      8380  2/22/2009            River view in the Village      Manhattan
97      8440  2/23/2009    Beautiful studio by Prospect Park       Brooklyn
98      8440  2/23/2009  Luxe 1BD apartment by Prospect Park       Brooklyn
99      8425  2/23/2009    Charming W.Village Apt. 8/25-9/15      Manhattan

   Property Type  Review Scores Rating (bin)        Room Type  Zipcode  Beds  \
0      Apartment                         NaN  Entire home/apt  11249.0   1.0
1      Apartment                         NaN     Private room  11206.0   1.0
2      Apartment                         NaN     Private room  10032.0   1.0
3      Apartment                         NaN  Entire home/apt  10024.0   3.0
4      Apartment                        95.0     Private room  10036.0   3.0
..           ...                         ...              ...      ...   ...
95     Apartment                        90.0  Entire home/apt  11217.0   1.0
96     Apartment                        95.0  Entire home/apt  10014.0   1.0
97     Apartment                         NaN  Entire home/apt  11218.0   1.0
98     Apartment                        95.0  Entire home/apt  11218.0   1.0
99     Apartment                       100.0  Entire home/apt  10014.0   1.0

    Number of Records  Number Of Reviews Price  Review Scores Rating
0                   1                  0   145                   NaN
1                   1                  1    37                   NaN
2                   1                  1    28                   NaN
3                   1                  0   199                   NaN
4                   1                 39   549                  96.0
..                ...                ...   ...                   ...
95                  1                 39   150                  93.0
96                  1                 57   200                  98.0
97                  1                  0   120                   NaN
98                  1                  4   150                  95.0
99                  1                  1   175                 100.0

[100 rows x 13 columns]
Host Id                         int64
Host Since                     object
Name                           object
Neighbourhood                  object
Property Type                  object
Review Scores Rating (bin)    float64
Room Type                      object
Zipcode                       float64
Beds                          float64
Number of Records               int64
Number Of Reviews               int64
Price                          object
Review Scores Rating          float64
dtype: object

In [24]:
var = 'Price'
air_data[var] = air_data[var].str.replace(',', '') #remove commas for over 999
air_data[var] = air_data[var].str.replace('$', '') #remove dollar signs if present, makes later conversions easier
air_data = air_data.dropna(subset=['Price']) #drop all na's, why keep an airbnb that doesn't have a price listed?
air_data[var] = pd.to_numeric(air_data[var], errors='coerce') #convert to numeric
air_data['Price'] = air_data['Price'].round(0) #round to two decimal places, make sure there are not infinite digits on right of decimal
air_data = air_data[air_data['Price'] != 0] #drop all 0s, very likely to be mistakes, don't want outliers in our analysis
print(air_data.dtypes)

Host Id                         int64
Host Since                     object
Name                           object
Neighbourhood                  object
Property Type                  object
Review Scores Rating (bin)    float64
Room Type                      object
Zipcode                       float64
Beds                          float64
Number of Records               int64
Number Of Reviews               int64
Price                           int64
Review Scores Rating          float64
dtype: object

In [25]:
shark_data = pd.read_csv("C:/Users/coolc/VSCodeProjects/wrangling_crg3ts/assignment/data/sharks.csv")
print(shark_data.head(100))
print(shark_data.dtypes)

    index   Case Number                  Date    Year        Type  \
0       0    2020.02.05           05-Feb-2020  2020.0  Unprovoked
1       1  2020.01.30.R  Reported 30-Jan-2020  2020.0    Provoked
2       2    2020.01.17           17-Jan-2020  2020.0  Unprovoked
3       3    2020.01.16           16-Jan-2020  2020.0  Unprovoked
4       4    2020.01.13           13-Jan-2020  2020.0  Unprovoked
..    ...           ...                   ...     ...         ...
95     95    2019.03.22           22-Mar-2019  2019.0  Unprovoked
96     96    2019.03.21           21-Mar-2019  2019.0  Unprovoked
97     97    2019.03.16  Reported 16-Mar-2019  2019.0  Unprovoked
98     98    2019.03.12           12-Mar-2019  2019.0  Unprovoked
99     99  2019.03.05.b           05-Mar-2019  2019.0  Unprovoked

        Country             Area                        Location  \
0           USA             Maui                             NaN
1       BAHAMAS           Exumas                             NaN
2     AUSTRALIA  New South Wales                   Windang Beach
3   NEW ZEALAND        Southland                     Oreti Beach
4           USA   North Carolina           Rodanthe, Dare County
..          ...              ...                             ...
95          USA          Florida       Hobe Sound, Martin County
96       MEXICO         Guerrero                       Troncones
97          USA           Hawaii                   Kaiwi Channel
98          USA          Florida     Stuart Beach, Martin County
99          USA           Oregon  Cape Kiwanda, Tillamook County

                    Activity             Name  ... Unnamed: 246 Unnamed: 247  \
0   Stand-Up Paddle boarding              NaN  ...          NaN          NaN
1                   Floating  Ana Bruna Avila  ...          NaN          NaN
2                    Surfing   Will Schroeter  ...          NaN          NaN
3                    Surfing      Jordan King  ...          NaN          NaN
4                    Surfing     Samuel Horne  ...          NaN          NaN
..                       ...              ...  ...          ...          ...
95                   Surfing      Chris Bryan  ...          NaN          NaN
96                  Swimming      Alex Wilton  ...          NaN          NaN
97                  Swimming      Eric Schall  ...          NaN          NaN
98           Boogie boarding       Kael Dewey  ...          NaN          NaN
99                   Surfing  Nathan Holstedt  ...          NaN          NaN

   Unnamed: 248 Unnamed: 249 Unnamed: 250 Unnamed: 251 Unnamed: 252  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
95          NaN          NaN          NaN          NaN          NaN
96          NaN          NaN          NaN          NaN          NaN
97          NaN          NaN          NaN          NaN          NaN
98          NaN          NaN          NaN          NaN          NaN
99          NaN          NaN          NaN          NaN          NaN

   Unnamed: 253 Unnamed: 254 Unnamed: 255
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
95          NaN          NaN          NaN
96          NaN          NaN          NaN
97          NaN          NaN          NaN
98          NaN          NaN          NaN
99          NaN          NaN          NaN

[100 rows x 257 columns]
index             int64
Case Number      object
Date             object
Year            float64
Type             object
                 ...
Unnamed: 251    float64
Unnamed: 252    float64
Unnamed: 253    float64
Unnamed: 254    float64
Unnamed: 255    float64
Length: 257, dtype: object

C:\Users\coolc\AppData\Local\Temp\ipykernel_39744\4223156244.py:1: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  shark_data = pd.read_csv("C:/Users/coolc/VSCodeProjects/wrangling_crg3ts/assignment/data/sharks.csv")

In [26]:
var = 'Type'
shark_data['Type'] = shark_data['Type'].replace({'Boat': 'Boating','Boatomg': 'Boating','Watercraft': 'Boating','Sea Disaster': 'Boating'}) #misspelled boating in csv, watercraft accidents so similar to boating, filling missing vals w/ "Unknown"
shark_data['Type'] = shark_data['Type'].replace(['Invalid','Questionable','Under Investigation','Unconfirmed','Unverified'],np.nan) #what does invalid even mean? i read through them and it seems they can go under unknown, questionable literally means unknown

In [28]:
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
pretrial = pd.read_csv(url,low_memory=False)

0        9
1        0
2        0
3        0
4        1
        ..
22981    1
22982    1
22983    1
22984    1
22985    1
Name: WhetherDefendantWasReleasedPretrial, Length: 22986, dtype: int64

In [29]:
var = 'WhetherDefendantWasReleasedPretrial' 
pretrial[var]

0        9
1        0
2        0
3        0
4        1
        ..
22981    1
22982    1
22983    1
22984    1
22985    1
Name: WhetherDefendantWasReleasedPretrial, Length: 22986, dtype: int64